.RatingCard-container{
    margin: 5rem 0rem 1rem 8rem;
}
.Card-title{
    font-size: 25px;
    padding-left: 5rem;
    margin-bottom: -0.5rem;
}
.RatingCard{
    background-color: rgb(224, 220, 220);
    border-radius: 10px;
}
.ratingcard-body{
    margin-top: 0.5rem;
}
span{
    padding-left: 1rem;
}
.Ratingbars{
    padding: 0.5rem 1.5rem 0.5rem 1rem;
}
.ratingstar{

    margin-left: 5rem;
}
