.benefits{
    margin: 0rem 0rem 0rem 0rem;
}
.benefits-title{
    display: flex;
    flex-direction: row;
    margin: 5rem 57rem 3rem 0rem;
}
.horizontalLine{
    width: 10rem;
    height: 4rem;
}
h2{
    font-size: 30px;
    font-weight: 400;
}
.benefits-body{
    background-color: rgb(242, 232, 232);
    padding: 0rem 0rem 0rem 4rem;
    margin-bottom: 8rem;
}
.quality-shipping-warranty{
    display: flex;
}
.quality-shipping-warranty .row{
  padding: 15px;
}
.column img{
  height: 5rem;
  margin-right: 3vh;
}
